@use 'theme' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: $font-text;
  color: $rh-black;
  background: $rh-white;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: $font-display;
}
